In [20]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [21]:
fixtures_2013 = pd.read_csv('./Data/Fixtures/Fixture_2013.csv', error_bad_lines=False)

In [22]:
fixtures_2013.head()

,date,agoals,is_grand_final,winnerteamid,tz,hgoals,localtime,winner,is_final,ateam,roundname,ateamid,updated,complete,hscore,id,abehinds,venue,round,hteam,hteamid,ascore,hbehinds,year
0,2013-03-22 20:40:00,18,0,5.0,+11:00,11,2013-03-22 20:10:00,Essendon,0,Essendon,Round 1,5,2018-06-26 12:17:16,100,82,1826,9,Football Park,1,Adelaide,1,117,16,2013
1,2013-03-28 19:40:00,14,0,14.0,+11:00,14,2013-03-28 19:40:00,Richmond,0,Richmond,Round 1,14,2018-06-26 12:17:17,100,101,1829,22,M.C.G.,1,Carlton,3,106,17,2013
2,2013-03-23 19:40:00,11,0,6.0,+11:00,16,2013-03-23 16:40:00,Fremantle,0,West Coast,Round 1,17,2018-06-26 12:17:17,100,108,1828,14,Subiaco,1,Fremantle,6,80,12,2013
3,2013-03-30 19:45:00,10,0,8.0,+11:00,13,2013-03-30 18:45:00,Gold Coast,0,St Kilda,Round 1,15,2018-06-26 12:17:17,100,90,1832,17,Carrara,1,Gold Coast,8,77,12,2013
4,2013-03-30 16:40:00,16,0,16.0,+11:00,11,2013-03-30 16:40:00,Sydney,0,Sydney,Round 1,16,2018-06-26 12:17:17,100,76,1831,10,Stadium Australia,1,Greater Western Sydney,9,106,10,2013

In [23]:
fixtures_2013.columns

Index(['date', 'agoals', 'is_grand_final', 'winnerteamid', 'tz', 'hgoals',
       'localtime', 'winner', 'is_final', 'ateam', 'roundname', 'ateamid',
       'updated', 'complete', 'hscore', 'id', 'abehinds', 'venue', 'round',
       'hteam', 'hteamid', 'ascore', 'hbehinds', 'year'],
      dtype='object')

## Key Data Required
### From Fixtures
- Goals - Home and Away
- Behinds
- Points
- Margin (Can be calculated)
- Venue

## Fixtures df
'date', - Delete - have local time
'agoals', - Keep
'is_grand_final', - Delete - Home and Away only
'winnerteamid', - Delete
'tz', - Keep - May be useful later for features
'hgoals', - keep
'localtime', - keep - useful for time of match
'winner', - keep
'is_final', - Keep - Delete later
'ateam', - keep
'roundname',  Delete - have final
'ateamid', Delete
'updated', Delete
'complete', Delete
'hscore', Keep
'id', Delete
'abehinds', Keep
'venue', Keep
'round', Keep
'hteam', Keep
'hteamid', Delete
'ascore', Keep
'hbehinds', Keep
'year' Keep]

In [30]:
key_fixture_columns = [
    'agoals',
    'tz',
    'hgoals',
    'localtime',
    'winner',
    'is_final',
    'ateam',
    'hscore',
    'abehinds',
    'venue',
    'round',
    'hteam',
    'hteamid',
    'ascore',
    'hbehinds',
    'year'
]

key_ladder_columns = [
    'behinds_against',
    'draws',
    'goals_for',
    'goals_against',
    'behinds_for',
    'played',
    'name',
    'losses',
    'wins',
    'pts',
    'for',
    'rank'
]

In [25]:
key_fixture_values = fixtures_2013.filter(key_fixture_columns)

In [27]:
key_fixture_values.tail()

,agoals,tz,hgoals,localtime,winner,is_final,ateam,hscore,abehinds,venue,round,hteam,hteamid,ascore,hbehinds,year
202,12,+10:00,13,2013-09-13 19:50:00,Geelong,4,Port Adelaide,96,8,M.C.G.,25,Geelong,7,80,18,2013
203,8,+10:00,13,2013-09-14 19:45:00,Sydney,4,Carlton,86,14,Stadium Australia,25,Sydney,16,62,8,2013
204,11,+10:00,14,2013-09-21 17:45:00,Fremantle,5,Sydney,99,8,Subiaco,26,Fremantle,6,74,15,2013
205,15,+10:00,14,2013-09-20 19:50:00,Hawthorn,5,Geelong,102,7,M.C.G.,26,Hawthorn,10,97,18,2013
206,8,+10:00,11,2013-09-28 14:30:00,Hawthorn,6,Fremantle,77,14,M.C.G.,27,Hawthorn,10,62,11,2013

In [28]:
ladder_2013_1 = pd.read_csv('./Data/Ladder/Ladder_2013_R_1.csv', error_bad_lines=False)

In [29]:
ladder_2013_1.head()

,behinds_against,draws,goals_for,goals_against,behinds_for,played,name,losses,wins,id,percentage,pts,for.,against,rank
0,6,0,19,8,19,1,Port Adelaide,0,1,13,246.296296,4,133,54,1
1,17,0,19,7,13,1,Western Bulldogs,0,1,18,215.254237,4,127,59,2
2,16,0,18,11,9,1,Essendon,0,1,5,142.682927,4,117,82,3
3,10,0,16,11,10,1,Sydney,0,1,16,139.473684,4,106,76,4
4,14,0,16,11,12,1,Fremantle,0,1,6,135.000000,4,108,80,5